
.footer {
  background-color: $brand-blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

#footLogo {
  margin:3rem 0;
  width: auto;
  height: 124px;
}


.icon {
  width: 32px;
  height: 32px;
  margin: 10px;
}


.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  align-content: center;
  justify-content: center;
  background-color: white;
  width: 370px;
  height: 224px;
  border-radius: 7px;
}

.footBar {
  display: flex;
  color: gray;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 90%;
}
