.third {
  height: 720px;
  background-color: #E4EDEF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textBox {
  width: 45%;
  h1 {
    font-size: 5rem;
    margin: 2rem;
  }
  button {
    color: white;
    font-size: 2rem;
    background-color: $brand-blue;
    padding: 1rem 3rem;
    margin-left: 2.8rem;
  }
}

.baseball {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}


ul {
  list-style: circle;
  font-size: 2rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
  // width: 40%;
}