.third {
  background-color: #E4EDEF;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media (max-width: $mobile) {
    flex-direction: column;
    justify-content: center;
  }
}

.textBox {
  h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  button {
    color: white;
    font-size: 2rem;
    background-color: $brand-blue;
    padding: 1rem 3rem;
  }
}

.baseball {
  @media (max-width: $mobile) {
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }
  img {
    @media (max-width: $mobile) {
      width: 100%;
      height: auto;
    }
  }
}


