.third {
  height: 720px;
  background-color: #E4EDEF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textBox {
  width: 30%;
  h1 {
    font-size: 5rem;
    margin: 8rem;
  }
  button {
    color: white;
    font-size: 2rem;
    background-color: $brand-blue;
    padding: 1rem 3rem;
    margin-left: 8rem;
  }
}

.baseball {
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
}


